<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="IBRAHIM EL GIBRAN" src="assets/meprofil.jpg" />
    <ion-card-header>
      <ion-card-title>Ibrahim El Gibran</ion-card-title>
      <ion-card-subtitle>founder iegcode</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      This is IEGCODE? a platform e-commerce personal who provides services your
      need. there are some type very product pada e-commerce
      <a href="https://iegcode.my.id" style="text-decoration: none">IEGCODE.</a>
    </ion-card-content>
  </ion-card>
</ion-content>
